DATABASE_URL=${{postgres.DATABASE_URL}}

# Login simples do owner
BARBERFLOW_OWNER_EMAIL="barbearia39@barberflow.com"
BARBERFLOW_OWNER_PASSWORD="barberflow123"
BARBERFLOW_SESSION_COOKIE="barberflow_session"
BARBERFLOW_SESSION_SECRET="gere-um-token-longo-e-aleatorio"

# URL publica do app em producao
NEXT_PUBLIC_APP_URL="https://seu-dominio.up.railway.app"
